.header {
  padding: 74px;
  margin-left: auto;
  margin-right: auto;
  opacity: 70%;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 420px) {
  .header {
    width: 320px;
    height: 56px;
    opacity: 0px;
    padding: 28px;
    margin-left: auto;
    margin-right: auto;
  }
}
