.header {
  padding-top: 40px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

.header__logo {
  width: 173px;
  height: 33px;
  margin: 0;
  padding: 40px 0 30px;
}

@media screen and (max-width: 420px) {
  .header {
    margin: 0;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0;
    padding-top: 28px;
  }
}
