@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/elements.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

/* @media {
  screen and (max-width: 768px) .profile__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 196px;
    max-height: 22px;

    .profile__info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media screen and (max-width: 644px) {
    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      box-sizing: border-box;
      padding-top: 42px;
      width: 100%;
      max-height: 286px;
      max-width: 282px;
    }

    .profile__image {
      margin: auto;
      max-width: 120px;
      max-height: 120px;
    }

    .profile__title {
      font-size: 22px;
      line-height: 26.63px;
      min-width: 250px;
    }

    .profile__description {
      max-width: 100%;
      text-align: center;
      font-size: 14px;
      line-height: 16.94px;
      padding-top: 14px;
      margin-bottom: 86px;
    }

    .profile__add-button {
      padding-top: 36px;
      margin: auto;
      border-width: 100%;
    }
    .profile__edit-button {
      width: 18px;
      height: 18px;
      padding: 0;
      margin-left: 10px;
      margin-top: 0;
    }
    .page__section {
      padding-top: 36px;
      padding-bottom: 48px;
      max-width: 282px;
    }
  }
} */

.page {
  background: black;
  color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 74px;
  margin-left: auto;
  margin-right: auto;
  opacity: 70%;
  border-bottom: 1px solid #545454;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  gap: 10px;
  grid-template-columns: minmax(auto, 373px) auto;
  max-width: 880px;
  align-items: center;
}

.profile__edit-button {
  background: transparent url(../images/vector-pencil.png) center no-repeat;
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  grid-area: button;
  margin: 0;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/vector-plus.png) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 1px solid #fff;
  margin-top: 60px;
}

.profile__add-button:hover {
  opacity: 60%;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  max-width: 100%;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__image {
  height: 120px;
  width: 120px;
  background: transparent center no-repeat;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 24px;
}

.cards {
  size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: black;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
  justify-content: space-between;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}

.card__description {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  background: white;
  color: black;
  padding: 25px 20px 25px 20px;
  border-radius: 0 0 10px 10px;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
}

.card__like-button {
  background: transparent url(../images/vector-heart.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
}

.card__like-button:hover {
  opacity: 60%;
}

.footer {
  width: 90%;
  margin: auto;
  height: 60px;
}

.footer__author {
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 770px) {
  .profile {
    display: grid;
    grid-template-areas: "image profile-info add-button";
  }
  .profile__info {
    display: grid;
    grid-template-areas:
      "title button"
      "description description";
    gap: 10px;
    grid-template-columns: minmax(auto, 373px) auto;
    max-width: 770px;
    width: 100%;
    justify-content: left;
    grid-area: profile-info;
  }

  .profile__title {
    font-size: 38px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }

  .profile__description {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
  }

  .profile__edit-button {
    background: transparent url(../images/vector-pencil.png) center no-repeat;
    height: 18px;
    width: 18px;
    border: 1px solid #fff;
    grid-area: button;
  }

  .profile__add-button {
    background: transparent url(../images/vector-plus.png) center no-repeat;
    height: 50px;
    width: 50px;
    margin-left: auto;
    border: 1px solid #fff;
    grid-area: add-button;
  }
  .image {
    grid-area: image;
    margin-right: 10px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .profile__image {
    margin-left: auto;
    margin-right: auto;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 110px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100%-40px);
  }
}

@media screen and (max-width: 320px) {
  .page__section {
    padding-top: 36px;
    padding-bottom: 48px;
    max-width: 282px;
  }
  /* .profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    padding-top: 42px;
    width: 100%;
    max-height: 286px;
    max-width: 282px;
    margin: auto;
  } */
  .profile__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: center;
  }

  .profile__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: center;
    padding-bottom: 32px;
  }

  .profile__edit-button {
    gap: 10px;
  }

  .profile__add-button {
    padding: 36px;
    margin: auto;
    width: 100%;
  }

  .profile__image {
    margin: auto;
    max-width: 120px;
    max-height: 120px;
    padding: 0;
  }

  .card__image {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .header {
    width: 320px;
    height: 56px;
    opacity: 0px;
    padding: 28px;
    margin-left: auto;
    margin-right: auto;
  }
}
