.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  background-size: cover;
  background-position: center;
}

.card__image_preview {
  margin: 10px 0;
  padding: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.card__description {
  display: flex;
  justify-content: space-between;
  background: white;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
}

.card__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.card__like-button-active {
  background: transparent url(../images/like-active.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.card__image-container {
  position: relative;
  width: 282px;
  height: 282px;
  cursor: pointer;
}

.card__image-button {
  position: absolute;
  top: 20px;
  right: 10px;
  transform: translate(-50%, -50%);
  background: transparent url(../images/Trash.svg) center no-repeat;
  border: none;
  cursor: pointer;
  height: 19px;
  width: 18px;
  transition: 1s;
}

.card__like-button:hover {
  opacity: 60%;
}

.card__image-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 720px) {
  .card__image {
    margin: 0;
  }
}
